<section class="section projects-section">
	<h2 class="section-title">
		{{- with .Site.Params.projects.icon -}}
			<i class="fa {{ . }}"></i>
		{{- else -}}
			<i class="fa fa-archive"></i>
		{{- end -}}
		{{- with .Site.Params.projects.title -}}
			{{ . }}
		{{- else -}}
			{{ i18n "projects" }}
		{{- end -}}
	</h2>

	<div class="intro">
		<p>{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</p>
	</div>
	{{ range .Site.Params.projects.list }}
		<div class="item">
			<span class="project-title"><a href="{{ .url }}">{{ .title }}</a></span> - <span class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</span>
		</div>
	{{ end }}
</section>
