<section class="skills-section section">
	<h2 class="section-title">
		{{- with .Site.Params.skills.icon -}}
			<i class="fa {{ . }}"></i>
		{{- else -}}
			<i class="fa fa-rocket"></i>
		{{- end -}}
		{{- with .Site.Params.skills.title -}}
			{{ . }}
		{{- else -}}
			{{ i18n "skills" }}
		{{- end -}}
	</h2>

	<div class="skillset">
		{{ range .Site.Params.skills.list }}
			<div class="item">
				<h3 class="level-title">{{ .skill }}</h3>
				<div class="level-bar">
					<div class="level-bar-inner" data-level="{{ .level }}"></div>
				</div>
			</div>
		{{ end }}
	</div>
</section>
