<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ .Site.Language }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ .Site.Language }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ .Site.Language }}"> <!--<![endif]-->
<head>
	{{ partial "head.html" . }}
</head>

<body>
	<div class="wrapper">

		{{ partial "sidebar.html" . }}

		<div class="main-wrapper">

			{{ if .Site.Params.summary }}
				{{ partial "sections/summary.html" . }}
			{{ end }}

			{{ if .Site.Params.experiences }}
				{{ partial "sections/experiences.html" . }}
			{{ end }}

			{{ if .Site.Params.projects }}
				{{ partial "sections/projects.html" . }}
			{{ end }}

			{{ if .Site.Params.skills }}
				{{ partial "sections/skills.html" . }}
			{{ end }}

		</div>
	</div>

	{{ partial "footer.html" . }}

	{{ partial "scripts.html" . }}
	{{ partial "custom-scripts.html" . }}
</body>
</html>
